
{% extends 'blog/base.html' %}
{% load static%}
{% block content %}
<style>
		body{
			font-family: tahoma;
			text-align: justify;
		}
		img{
			border:3px solid blue;
			border-radius:5px
			box-shadow: 5px 5px 10px 2px yellow;

		}
		img:hover{
			border-radius:50px;


		}
		.p{
			margin-bottom: 30px;
		}
		h2{
			margin-bottom: 47px;
			margin-top: 12px;
		}
		.social-link-text{
			margin-top: 50px;
			margin-bottom: 25px;
		}
		.about-link{
            padding-left:0px;
		}
		.about-link li{
			display: inline-block;
		}
		.about-link li a i{
			width: 50px;
			height: 50px;
			border-radius: 50%;
			line-height: 50px;
			text-align: center;
			border: 1px solid #d6c6b2;
			margin-right: 10px;
			font-size: 22px;
			color: #d6c6b2;
			transition: all 0.3s;
		}
		.about-link li a i:hover{
			color: white;
			background:  #00FFFF;
		}
	</style>
<center><h2 class="color-3" ><b>About Bright Computers</b></center>  </h2>
<div class="container">
<div class="row">
    <div class="col-md-5">
        <img src="{%static 'class.jpg'%}"  width="350px" height="300px">
    </div>
    <br>
    <div class="col-md-7 about-right">


				<h1>Mission and Vision</h1>
        <p>

						Bright Computers is certified by An ISO 9001:2015 and Regd By DGE & T Permitted by GOVT OF INDIA.
						we are providing  Technical Education for graduation people and also Economical support.
						Bright computers Training Institute is the one of the best Computer Institute for educate the
						rural area people of Telangana.and also it is providing placements for trained students.
						Bright Computers provides GOVT OF INDIA trained certificate.and we are giving training on digital classes and online classes .
						we take less time to complete any course with practical knowledge.and we should provide placement for all students
						who need economical support.
        </p>
				</div>
				</div>
				</div><br>


				<div class="container">
				<div class="row">
					<div class="col-md-7 about-right">
						<h1>Management Team</h1>
						<p class="p">

							Bright Computers Management have more than 6 years of experience in IT Sector in various Areas.
							our motto is empowering youth in IT education to IT Careers,
							Management has shown most interest in this IT Sector. we are getting positive response from Job seekers and hiring
							companies.  Developing the perfect team members and encouraging the computer and software trainers.
							we quickly adopting to latest technology trends and cutting-edge technologies.

							Bright Computers has associated with National organizations for maintaining
							and developing the Standard & Quality computer Training in IT Industry.
							</p>

					</div>
				<div class="col-md-5">

						<img src="{%static 'RK.jpg'%}"  width="300px" height="300px" align="right"></img>
				</div><br>


				</div>
				</div><br>

				<div class="container">
				<div class="row">

					<div class="col-md-5">
			        <img src="{%static 'lab.jpg'%}"  width="300px" height="300px">
			    </div>
					<div class="col-md-7 about-right">
					<h1>Software Training Infrastructure</h1>
					<p class="p">

							Bright Computers Training Institute has good Lab facilities located in Telangana .
							Bright Computers Training Institute having modern classroom with latest teaching aids.
							Full fledged Lab PCs connected in network and Open Source/Development software.
						</p>
    			</div>
					</div>
					</div>
<section class="location">
<div style="margin-left:25px;margin-bottom:10px;">
		<h1 class="text-center" style="font-size:40px;font-weight:bold;">
			 BRIGHT LOCATION</h1>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3822.224811724691!2d78.48895911434397!3d16.665629927606254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bca5cbae649fa53%3A0x753365f56175ef60!2sBright%20Computers!5e0!3m2!1sen!2sin!4v1577874164634!5m2!1sen!2sin" width="99%" height="300px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
</section>
<div class="text-center">
		<h1 style="font-weight:bold;"><u>Contact Us</u></h1>
		<h3 class="text-info"style="font-size:30px;">Bright Computers</h3>
		<i class="fa fa-map-marker"style="font-size:20px;"> (M)Kalwakurthy,<br>(Dt) Nagarkurnool, (St)Telangana,India</i><br>
		<i class="fa fa-phone" style="font-size:20px;"> Mobile:9640449394,8555848521</i><br>
		<i class="fa fa-envelope " style="font-size:25px;"></i><a href="#"> brightcomputersinfo@gmail.com</a>

<ul class="about-link">
		<li><a href=""><i class="fa fa-facebook"></i></a></li>
		<li><a href=""><i class="fa fa-youtube-play"></i></a></li>
		<li><a href=""><i class="fa fa-envelope-o"></i></a></li>
		<li><a href=""><i class="fa fa-twitter"></i></a></li>
		<li><a href=""><i class="fa fa-instagram"></i></a></li>
</ul>
</div>
{% endblock content %}
