{% extends 'blog/base.html' %}
{% load static%}
{% block content %}
<style >
  .footera{
    color:yellow;
  }
  .footerb{
    color:yellow;
  }
</style>
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" id="blogprofile"width="50px" height="50px">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{%url 'post-detail' post.id%}">{{post.title}}</a></h2>
                <p class="article-content">{{post.content}}</p>
            </div>
        </article>
    {% endfor %}
    <!--It is pagination-->
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {%endif%}
    {% endif %}

    <div class="container-fluid">
        <div class="row  links" style="background:#000066;">
            <div class="col-md-4">
                <h1 style="color:white;font-weight:bold;"><u>Our Courses</u></h1>
                <a href="{%url 'blog-courses'%}" class="footera">C language</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">Python</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">Django,SQL</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">HTML5,CSS3</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">JAVASCRIPT</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">BOOTSTRAP,JQUERY</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">PGDCA</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">PHOTOSHOP</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">CORELDRAW</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">PAGEMAKER</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">DTP</a><br>

            </div>
            <div class="col-md-4">
                <h1 style="color:white;font-weight:bold;"><u>Our Services</u></h1>
                <a href="{%url 'blog-services'%}"class="footerb">Web Development</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">SEO</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">Graphic Design</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">software Training</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">Computer Education</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">placements</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">Job & Freelancing</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">DTP Works</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">Online Works</a><br>

            </div>
            <div class="col-md-4">
                <h1 style="color:white;font-weight:bold;"><u>Contact Us</u></h1>
                <h3 style="color:yellow">Bright Computers</h3>
                <i class="fa fa-map-marker" style="color:yellow;font-weight:bold;font-size:20px"> Kalwakurthy,<br> Nagarkurnool, Telangana</i><br>
                <h3 style="color:white;font-weight:bold;"><u>Call Us</u></h3>
                <i class="fa fa-phone" style="color:yellow"> Mobile:9640449394,8555848521</i><br>
                <h3 style="color:white;font-weight:bold;"><u>Mail us</u></h3>
                <i class="fa fa-envelope " style="color:yellow"></i><a href="/"class="footera"> brightcomputersinfo@gmail.com</a>
                <h3 style="color:white;font-weight:bold;"><u> whatsapp us</u></h3>
                <i class="fa fa-whatsapp" style="color:yellow">9640449394,</i><br>
            </div>
        </div>
{% endblock content %}
