{% extends 'blog/base.html' %}
{% load static%}
{% block content %}

<style >
  .footera{
    color:yellow;
  }
  .footerb{
    color:yellow;
  }
</style>

<div class="container" style="background:#7dffff;">
    <h1 class="text-center" style="font-size:60px;font-weight:bold;">
     our Courses</h1>
<center>
  <table id="courses"align="center" cellspacing="0px" bgcolor="#ebebe0" height="auto">
            <tr><td> <button class="py"><a href="#compbasic" style="text-decoration:none;font-size:20px;">ComputerBasics</a></button></td>
                <td> <button class="c1"><a href="#c" style="text-decoration:none;font-size:20px;">C,C++</a></button></td>


              </tr>
              <tr><td> <button class="we1"><a href="#mso" style="text-decoration:none;font-size:20px;">MS-Office</a></button></td>
                <td> <button class="or1"><a href="#python" style="text-decoration:none;font-size:20px;">Python</a></button></td>
             </tr>

                <tr>
                   <td> <button class="phot1"><a href="#dtp" style="text-decoration:none;font-size:20px;">DTP</a></button></td>
                    <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">WebDesigning</a></button></td>
                </tr>



              <tr><td> <button class="pg1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Typing</a></button></td>
                <td> <button class="dt1"><a href="#django" style="text-decoration:none;font-size:20px;">Django</a></button></td>


              </tr>
              <tr><td> <button class="page1"><a href="#internet" style="text-decoration:none;font-size:20px;">Internet</a></button></td>
                <td> <button class="dc1"><a href="#html" style="text-decoration:none;font-size:20px;">html</a></button></td>


              </tr>
              <tr>
               <td> <button class="ja1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Photoshop</a></button></td>
               <td> <button class="int1"><a href="#html" style="text-decoration:none;font-size:20px;">css</a></button></td>

              <tr>
                 <td> <button class="do1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Pagemaker</a></button></td>
               <td> <button class="c2"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Javascript</a></button></td>
              </tr>
              <tr>
                <td> <button class="ta1" ><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">CoralDraw</a></button></td>
                <td> <button class="ms1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Bootstrap</a></button></td>
              </tr>
              <tr>
                 <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">PGDCA</a></button></td>
                  <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Jquery</a></button></td>
              </tr>

              <tr>
                 <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">DCA</a></button></td>
                  <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">DBMS(MySQL)</a></button></td>
              </tr>


  </table>
  </center>
  </div>
  <div class="container"><br id="compbasic" ><br>
    <h1 >Computer Basics</h1>
    <ul>
      <li>introduction of computre</li>
      <li>introduction of hardware and software</li>
      <li>operating system(windows 10,windows 7)</li>
      <li>Dos Commands</li>
      <li>control pannel</li>
      <li>Paint</li>
      <li>Wordpad</li>
      <li>Notepad</li>

    </ul>

<br id="mso" ><br><h1 >MS Office</h1>

      <h2>  Ms Word</h2>
<pre style="font-size:20px;font-family:times new roman">

  ⦁	 Creating, editing, saving and printing text documents
  ⦁	 Font and paragraph formatting
  ⦁	Simple character formatting
  ⦁	Inserting tables, smart art, page breaks
  ⦁	 Using lists and styles
  ⦁	  Working with images
  ⦁	Using Spelling and Grammar check
  ⦁	  Understanding document properties
  ⦁	Mail Merge

 <h2>Ms. Excel</h2>
 ⦁	Spreadsheet basics
 ⦁	Creating, editing, saving and printing spreadsheets
 ⦁	 Working with functions & formulas
 ⦁	Modifying worksheets with color & autoformats
 ⦁	 Graphically representing data : Charts & Graphs
 ⦁	 Speeding data entry : Using Data Forms
 ⦁	Analyzing data : Data Menu, Subtotal, Filtering Data
 ⦁	  Formatting worksheets
 ⦁	Securing & Protecting spreadsheets


<h2>Ms. Power Point</h2>
⦁	 Opening, viewing, creating, and printing slides
⦁	 Applying auto layouts
⦁	Adding custom animation
⦁	Using slide transitions
⦁	 Graphically representing data : Charts & Graphs
⦁	 Creating Professional Slide for Presentation.



</pre>
<pre style="font-size:20px;font-family:times new roman">
<br id="internet"><br><h1 >Internet</h1>
⦁	Understanding how to search/Google
⦁	  bookmarking and Going to a specific website
⦁	Copy and paste Internet content into your word file and emails
⦁	Understanding social media platforms such as Facebook  & Many more
⦁	  learn with  best practices

</pre>
<pre style="font-size:20px;font-family:times new roman">
<br id="dtp"><br><h1>DTP(Desktop Application)</h1>
⦁	PageMaker/InDesign
⦁	Page layout Basics
⦁	Understanding Tools & Workspace
⦁	Creating:
⦁	Labels, Pamphlets
⦁	Bill books, Viz. Cards
⦁	Greetings Cards, Kankotri
⦁	Advertisements, etc.
⦁	Books & Booklets
⦁	Column Style Documents
⦁	Shortcuts To Work Efficiently

</pre>
<pre style="font-size:20px;font-family:times new roman">
<br id="python"><br><h1>Python</h1>
<h3 class="text-center">Core Python</h3>

1. Language Fundamentals

2. Operators

3. Flow Control

4. String Data Type

5. List Data Structure

6. Tuple Data Structure

7. Set Data Structure

8. Dictionary Data Structure

9. Functions

10. Modules

11. Packages

12. 100 Pattern Programs

<h3 class="text-center">Advanced Python</h3>

1. OOP's Part - 1

2. OOP's Part - 2

3. OOP's Part - 3

4. OOP's Part - 4

5. Exception Handling

6. File Handling

7. Multi Threading

8. Python Database Programming

9. Regular Expressions & Web Scraping

10. Decorator Functions

11. Generator Functions

12. Assertions

13. Python Logging
</pre>

<pre style="font-size:20px;font-family:times new roman">
<br id="django"><br><h1 >DJANGO</h1>

1. Introduction to Python

2. Introduction to Web Development

3. Introduction to HTML

4. Introduction to DJANGO

5. Installing DJANGO

6. DJANGO Architecture

7. MVC and MVT architectures

8. Introduction and Installing PyCharm

9. Creating a Projects and Applications

10. Using DJANGO's Admin

11. Working with Views

12. URL mappings

13. Managing DJANGO's Settings

14. Creating and Activating Models

15. Working with Models

16. Setting up database and filtering database results

17. Creating templates and adding forms to template.

18. Working with User Interface.

19. Working with Admin Interface.

20. Working with Page Redirection.

21. Sending Emails.

22. Form Processing

23. Files and Images uploading

24. Cookies Handling

25. Sessions and Caching

</pre>
<pre style="font-size:20px;font-family:times new roman">
<br id="c"><br><h1 >C Language</h1>

1. Software Basics

2. Generation of languages

3. Introduction C – Language

4. C- Language Compilers Turbo-C and ANSI-C

5. History of C-Language

6. Structure of C-Programming

7. Include files

8. Defining constants

9. Working with Variables

10. Data Types

11. Singned and unsigned types

12. scanf and printf functions

13. Operators

unary operators
binary operators
ternary operators
Mathematical Operators
Relational Operators
Logical Operators
Assignment operator
short hand Assignment operators
bitwise operators
14. Increment and decrement operators

15. Ternory Operator

16. Type Casting

17. Keywords in C-Language

18. <math.h> header file functions

19. Control Statements

if statement
Switch – case statement
While loop
Do-while loop
for loop
20. Types of if statements

21. <ctype.h> header file functions

22. Working with ASCII – Characters

23. goto statements

24. while and do-while loop examples

25. for loop examples

26. nested loops examples

27. Arrays

Single- dimension arrays
Two - dimension arrays
linear and binary searching techniques
sorting techniques
matrix operations
28. Strings and it’s operations

1. Reading a String
2. Displaying/ Writing String
3. Length of a String
4. Copying strings
5. Comparison of strings
6. Concatenation of string
7. Reverse of a string.
8. Case conversion of string
9. String to numeric conversion
10. Numeric to string conversion
11. Array of strings
12. Searching for a string.
13. Sorting of strings

29. Structures

Structure variables and it’s members
typedef key with structure
Array of Structures
30. Pointers

Address of variables
declaring pointers
pointer to variables
pointer to arrays
pointer to single and two-dimensional arrays
pointer to strings
String operations using pointers
Pointer to structure variables
31. Functions

Types of functions
functions adv. and dis-advantages
built-in functions and user defined functions
types of user defined functions
defining functions
calling a functions
prototype declaration of function
function with return statement
Storage classes
auto, register, static and external storage classes
Memory map of exe file
Steps in creating exe file
global declaration of a function
32. Call by value and Call by reference functions

passing address of variable
passing address of array
passing address of string
33. C-Programming in Linux

34. Creation of header file and library files

35. File Management

1. Opening a File.
2. Reading data from the file
3. Writing data to the file
4. Closing a file.

36. Data Structure

dynamic memory management
malloc(), calloc(), realloc() and free() functions
dynamic memory management of single and two dimensional arrays.
37. Single linked list and it’s operations

38. Double linked list and it’s operations

39. Stacks and it’s operations

40. Queue and it’s operations

41. Binary tree
</pre>
<pre style="font-size:20px;font-family:times new roman">
<br id="html"><br><h1 >HTML5 & CSS3 Training </h1>
⦁	 Introduction of different Web Technology
⦁	 Introduction
⦁	 HTML Elements
⦁	 HTML Attributes
⦁	HTML Headings
⦁	 HTML Paragraphs
⦁	 HTML Formatting
⦁	HTML Fonts
⦁	HTML Styles
⦁	 HTML Links
⦁	 HTML Images
⦁	HTML Tables
⦁	 HTML Lists
⦁	 HTML Forms
⦁	HTML Iframe
⦁	HTML Layout
⦁	 HTML Doctypes
⦁	 HTML Head
⦁	 HTML Meta
⦁	HTML Scripts
⦁	 HTML Media
⦁	 HTML Audio
⦁	 HTML Object
⦁	HTML Video
⦁	 HTML YouTube
⦁	 HTML Media Tags
⦁	 HTML Summary
⦁	CSS Introduction
⦁	CSS Syntax
⦁	CSS Id & Class
⦁	 CSS Styling
⦁	Styling Backgrounds
⦁	 Styling Text
⦁	 Styling Fonts
⦁	 Styling Links
⦁	 Styling Lists
⦁	Styling Tables
⦁	 CSS Box Model
⦁	 CSS Border
⦁	CSS Outline
⦁	CSS Margin
⦁	 CSS Padding
⦁	 CSS Advanced
⦁	 CSS Grouping/Nesting
⦁	 CSS Dimension
⦁	CSS Display
⦁	 CSS Positioning
⦁	 CSS Floating
⦁	 CSS Align
⦁	 CSS Navigation Bar
</pre>
</div>
<div class="container-fluid">
    <div class="row  links" style="background:#000066;">
        <div class="col-md-4">
            <h1 style="color:white;font-weight:bold;"><u>Our Courses</u></h1>
            <a href="{%url 'blog-courses'%}" class="footera">C language</a><br>
            <a href="{%url 'blog-courses'%}"class="footera">Python</a><br>
            <a href="{%url 'blog-courses'%}"class="footera">Django,SQL</a><br>
            <a href="{%url 'blog-courses'%}"class="footera">HTML5,CSS3</a><br>
            <a href="{%url 'blog-courses'%}"class="footera">JAVASCRIPT</a><br>
            <a href="{%url 'blog-courses'%}"class="footera">BOOTSTRAP,JQUERY</a><br>
            <a href="{%url 'blog-courses'%}"class="footera">PGDCA</a><br>
            <a href="{%url 'blog-courses'%}"class="footera">PHOTOSHOP</a><br>
            <a href="{%url 'blog-courses'%}"class="footera">CORELDRAW</a><br>
            <a href="{%url 'blog-courses'%}"class="footera">PAGEMAKER</a><br>
            <a href="{%url 'blog-courses'%}"class="footera">DTP</a><br>

        </div>
        <div class="col-md-4">
            <h1 style="color:white;font-weight:bold;"><u>Our Services</u></h1>
            <a href="{%url 'blog-services'%}"class="footerb">Web Development</a><br>
            <a href="{%url 'blog-services'%}"class="footerb">SEO</a><br>
            <a href="{%url 'blog-services'%}"class="footerb">Graphic Design</a><br>
            <a href="{%url 'blog-services'%}"class="footerb">software Training</a><br>
            <a href="{%url 'blog-services'%}"class="footerb">Computer Education</a><br>
            <a href="{%url 'blog-services'%}"class="footerb">placements</a><br>
            <a href="{%url 'blog-services'%}"class="footerb">Job & Freelancing</a><br>
            <a href="{%url 'blog-services'%}"class="footerb">DTP Works</a><br>
            <a href="{%url 'blog-services'%}"class="footerb">Online Works</a><br>

        </div>
        <div class="col-md-4">
            <h1 style="color:white;font-weight:bold;"><u>Contact Us</u></h1>
            <h3 style="color:yellow">Bright Computers</h3>
            <i class="fa fa-map-marker" style="color:yellow;font-weight:bold;font-size:20px"> Kalwakurthy,<br> Nagarkurnool, Telangana</i><br>
            <h3 style="color:white;font-weight:bold;"><u>Call Us</u></h3>
            <i class="fa fa-phone" style="color:yellow"> Mobile:9640449394,8555848521</i><br>
            <h3 style="color:white;font-weight:bold;"><u>Mail us</u></h3>
            <i class="fa fa-envelope " style="color:yellow"></i><a href="/"class="footera"> brightcomputersinfo@gmail.com</a>
            <h3 style="color:white;font-weight:bold;"><u> whatsapp us</u></h3>
            <i class="fa fa-whatsapp" style="color:yellow">9640449394,</i><br>
        </div>
    </div>
{% endblock content %}
