{% extends 'blog/base.html' %}
{% load static%}
{% block content %}

<style>
       *{
           margin:0px;
           padding:0px;
       }
       div div div a:link{
           color:white;
           font-size:20px;
       }
       div div div a:hover{
           color:#41f481;
       }
       marquee{
           font-size:26px;
           color:blue;
       }
       marquee:hover{
           color:#ff4f81;
           transition:0.9s all;
       }
       marquee i:hover{
           border-right:3px solid #ff4f81;
           border-left:3px solid #ff4f81;
       }
       #table1{
         background:#ffe0ff;
         border:ridge;
       }
       .t1{
         font-size:20px;
         font-style:bold;

       }
       {
   			border:1px solid blue;
   			border-radius:20px


   		}

.card{
  font-family: "Candara", sans-serif;
  width: 350px;
  height:450px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding:none;
  }

.card-image img{
  width: 100%;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.profile-image img{
  z-index: 1;
  width: 120px;
  height: 120px;
  position: relative;
  margin-top: -75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  border: 10px solid #fff;
  transition-duration: 0.4s;
  transition-property: transform;
}

.profile-image img:hover{
  transform: scale(1.1);
}

.card-content h3{
  font-size: 25px;
  text-align: center;
  margin: 0;
}

.card-content p{
  font-size: 16px;
  text-align: justify;
  padding: 0 20px 5px 20px;
}
.card-box{
  flex-wrap: wrap;
  width: 100%;
  height:auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  padding:10px;
}

.footera{
  color:yellow;
}
.footerb{
  color:yellow;
}

   </style>

 <div class="container-fluid text-left text-dark headerset">
        <div class="carousel slide" id="demo" data-ride="carousel" style="width:100%;" scrollamount="20%">
            <ul class="carousel-indicators">
                <li class="active" data-target="#demo" data-slide-to="0"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="4"></li>
            </ul>
            <div class="carousel-inner box text-center">
                <div class="carousel-item active">
                    <div class="row" style="margin:0px;">
                        <div class="col-lg-4">
                            <img src="{%static 'a.jpg'%}" alt="image" width="1300px" height="400">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row" style="margin:0px;">
                        <div class="col-lg-4">
                            <img src="{%static 'b.jpg'%}" alt="image" width="1300px" height="400">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row" style="margin:0px;">
                        <div class="col-lg-4">
                            <img src="{%static 'c.jpg'%}" alt="image" width="1300px" height="400">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row" style="margin:0px;">
                        <div class="col-lg-4">
                            <img src="{%static 'd.jpg'%}" alt="image" width="1300px" height="400">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row" style="margin:0px;">
                        <div class="col-lg-4">
                            <img src="{%static 'e.jpg'%}" alt="image" width="1300px" height="400 ">
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

      <marquee class="moving-body" onmouseover="stop();" onmouseout="start();" behavior="scroll" scrollamount="10" >
        <li>Bright Computers is providing summer special courses .New Batches start from April 06 2020 </li></marquee>


        <div class="text-center batches">
          <h2> Upcoming batches on digital classes</h2>
       <table border="2px" width="100%" align="center"  cellpadding="10px" cellspacing="2px" id="table1">
            <tr class="t1">
              <th>Batch Date</th>
              <th>Batch Timings</th>
              <<th>Course</th>
              <th>Register</th>
            </tr>
            <tr>
              <td>06-04-2020</td>
              <td>09am to 10am</td>
              <td>PGDCA</td>
              <td><a href="{%url 'NewPage'%}">Register Now</a></td>
            </tr>
            <tr>
              <td>06-04-2020</td>
              <td>10am to 11am</td>
              <td>software Training</td>
              <td><a href="{%url 'NewPage'%}">Register Now</a></td>
            </tr>
          </table>


        </div>
<div class="">


<section class="" >
    <h1 class="text-center"style="font-size:60px;font-weight:bold;"> Our Services</h1>
    <div class="card-box">
   <div class="card">
     <div class="card-image">
       <img src="{% static 'bgstar.jpg'%}" alt="">
     </div>
     <div class="profile-image">
       <img src="{% static 'web.jpg'%}" alt="">
     </div>
     <div class="card-content">
       <h3>Web Development</h3>
       <p>we can develop dynamic web applications by using django framework.we have 6 years experience in development of python applications</p>
     </div>

   </div>
   <div class="card">
     <div class="card-image">
       <img src="{% static 'bgstar.jpg'%}" alt="">
     </div>
     <div class="profile-image">
       <img src="{% static 'gd.jpg'%}" alt="">
     </div>
     <div class="card-content">
       <h3>Graphic Design</h3>
       <p>it is wonderful art we have by this one we can design client related logos and combine symbols, images and text to form visual representations of ideas and messages.</p>
     </div>

   </div>
   <div class="card">
     <div class="card-image">
       <img src="{% static 'bgstar.jpg'%}" alt="">
     </div>
     <div class="profile-image">
       <img src="{% static 'seo.jpg'%}" alt="">
     </div>
     <div class="card-content">
       <h3>SEO</h3>
       <p>Search Engine Optimization is a technique to get our website in first position in Search Engine result. we have excellent techniques to do this  </p>
     </div>

   </div>


</div>
</section>
<section class="" >

    <div class="card-box">
   <div class="card">
     <div class="card-image">
       <img src="{% static 'bgstar.jpg'%}" alt="">
     </div>
     <div class="profile-image">
       <img src="{% static 'st.jpg'%}" alt="">
     </div>
     <div class="card-content">
       <h3>Software Training</h3>
       <p>Nowadays The Technology is used in all areas.based on this we are providing Training on application development by latest languages like Python,R .  </p>
     </div>

   </div>
   <div class="card">
     <div class="card-image">
       <img src="{% static 'bgstar.jpg'%}" alt="">
     </div>
     <div class="profile-image">
       <img src="{% static 'cb.jpg'%}" alt="">
     </div>
     <div class="card-content">
       <h3>Computer Education</h3>
       <p>Computer Education is required to all type of people to use latest applications.we can give offline and online courses on all Computer related topics. </p>
     </div>

   </div>
   <div class="card">
     <div class="card-image">
       <img src="{% static 'bgstar.jpg'%}" alt="">
     </div>
     <div class="profile-image">
       <img src="{% static 'job.jpg'%}" alt="">
     </div>
     <div class="card-content">
       <h3>Job & Freelancing</h3>
       <p>Bright computers providing Placements in National companies.and also we are support for freelancing work for students who need economical support.</p>
     </div>

   </div>


</div>
</section>
</div>

<div class="" style="background:#7dffff;">
    <h1 class="text-center" style="font-size:60px;font-weight:bold;">
     our Courses</h1>
<marquee behavior="alternate" onmouseover="this.stop();" onmouseout="this.start();"scrollamount="10">
  <table id="courses"align="center" cellspacing="0px" bgcolor="#ebebe0" height="auto">
            <tr><td> <button class="py"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">ComputerBasics</a></button></td>
                <td> <button class="c1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">C,C++</a></button></td>


              </tr>
              <tr><td> <button class="we1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">MS-Office</a></button></td>
                <td> <button class="or1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Python</a></button></td>
             </tr>

                <tr>
                   <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">DTP</a></button></td>
                    <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">WebDesigning</a></button></td>
                </tr>



              <tr><td> <button class="pg1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Typing</a></button></td>
                <td> <button class="dt1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Django</a></button></td>


              </tr>
              <tr><td> <button class="page1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Internet</a></button></td>
                <td> <button class="dc1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">html</a></button></td>


              </tr>
              <tr>
               <td> <button class="ja1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Photoshop</a></button></td>
               <td> <button class="int1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">css</a></button></td>

              <tr>
                 <td> <button class="do1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Pagemaker</a></button></td>
               <td> <button class="c2"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Javascript</a></button></td>
              </tr>
              <tr>
                <td> <button class="ta1" ><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">CoralDraw</a></button></td>
                <td> <button class="ms1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Bootstrap</a></button></td>
              </tr>
              <tr>
                 <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">PGDCA</a></button></td>
                  <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Jquery</a></button></td>
              </tr>

              <tr>
                 <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">DCA</a></button></td>
                  <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">DBMS(MySQL)</a></button></td>
              </tr>


  </table>







    </marquee>
    </div>








    <section class="location">
    <div style="margin-left:25px;margin-bottom:10px;">
        <h1 class="text-center" style="font-size:40px;font-weight:bold;">
         BRIGHT LOCATION</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3822.224811724691!2d78.48895911434397!3d16.665629927606254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bca5cbae649fa53%3A0x753365f56175ef60!2sBright%20Computers!5e0!3m2!1sen!2sin!4v1577874164634!5m2!1sen!2sin" width="99%" height="300px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</section>
    <div class="container-fluid">
        <div class="row  links" style="background:#000066;">
            <div class="col-md-4">
                <h1 style="color:white;font-weight:bold;"><u>Our Courses</u></h1>
                <a href="{%url 'blog-courses'%}" class="footera">C language</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">Python</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">Django,SQL</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">HTML5,CSS3</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">JAVASCRIPT</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">BOOTSTRAP,JQUERY</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">PGDCA</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">PHOTOSHOP</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">CORELDRAW</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">PAGEMAKER</a><br>
                <a href="{%url 'blog-courses'%}"class="footera">DTP</a><br>

            </div>
            <div class="col-md-4">
                <h1 style="color:white;font-weight:bold;"><u>Our Services</u></h1>
                <a href="{%url 'blog-services'%}"class="footerb">Web Development</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">SEO</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">Graphic Design</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">software Training</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">Computer Education</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">placements</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">Job & Freelancing</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">DTP Works</a><br>
                <a href="{%url 'blog-services'%}"class="footerb">Online Works</a><br>

            </div>
            <div class="col-md-4">
                <h1 style="color:white;font-weight:bold;"><u>Contact Us</u></h1>
                <h3 style="color:yellow">Bright Computers</h3>
                <i class="fa fa-map-marker" style="color:yellow;font-weight:bold;font-size:20px"> Kalwakurthy,<br> Nagarkurnool, Telangana</i><br>
                <h3 style="color:white;font-weight:bold;"><u>Call Us</u></h3>
                <i class="fa fa-phone" style="color:yellow"> Mobile:9640449394,8555848521</i><br>
                <h3 style="color:white;font-weight:bold;"><u>Mail us</u></h3>
                <i class="fa fa-envelope " style="color:yellow"></i><a href="/"class="footera"> brightcomputersinfo@gmail.com</a>
                <h3 style="color:white;font-weight:bold;"><u> whatsapp us</u></h3>
                <i class="fa fa-whatsapp" style="color:yellow">9640449394,</i><br>
            </div>
        </div>
{% endblock content %}
