{% extends 'blog/base.html' %}
{% load static%}
{% block content %}

<style>
       *{
           margin:0px;
           padding:0px;
       }
       div div div a:link{
           color:white;
           font-size:20px;
       }
       div div div a:hover{
           color:#41f481;
       }
       marquee{
           font-size:26px;
           color:blue;
       }
       marquee:hover{
           color:#ff4f81;
           transition:0.9s all;
       }
       marquee i:hover{
           border-right:3px solid #ff4f81;
           border-left:3px solid #ff4f81;
       }
       table{
         background:#ffe0ff;
         border:ridge;
       }
       .t1{
         font-size:20px;
         font-style:bold;

       }
       img{
   			border:1px solid blue;
   			border-radius:20px


   		}

.card{
  font-family: "Candara", sans-serif;
  width: 350px;
  height:450px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding:none;
  }

.card-image img{
  width: 100%;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.profile-image img{
  z-index: 1;
  width: 120px;
  height: 120px;
  position: relative;
  margin-top: -75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  border: 10px solid #fff;
  transition-duration: 0.4s;
  transition-property: transform;
}

.profile-image img:hover{
  transform: scale(1.1);
}

.card-content h3{
  font-size: 25px;
  text-align: center;
  margin: 0;
}

.card-content p{
  font-size: 16px;
  text-align: justify;
  padding: 0 20px 5px 20px;
}
.card-box{
  flex-wrap: wrap;
  width: 100%;
  height:auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  padding:10px;
}


   </style>
   <div><br>
      <center> <img src="{%static 'brighthome.jpg'%}" alt="image" width="96%" height="400" style="align:center">
   </center>
 </div>

      <marquee class="moving-body" onmouseover="stop();" onmouseout="start();" behavior="scroll" scrollamount="10" >
        <li>Bright computer is providing summer spcial courses for all students </li></marquee>


        <div class="text-center batches">
          <h2> Upcoming batches on digital classes</h2>
       <table border="2px" width="100%" align="center"  cellpadding="10px" cellspacing="2px">
            <tr class="t1">
              <th>Batch Date</th>
              <th>Batch Timings</th>
              <<th>Course</th>
              <th>Register</th>
            </tr>
            <tr>
              <td>01-04-2020</td>
              <td>09am to 10am</td>
              <td>PGDCA</td>
              <td><a href="{%url 'NewPage'%}">Register Now</a></td>
            </tr>
            <tr>
              <td>01-04-2020</td>
              <td>10am to 11am</td>
              <td>software Training</td>
              <td><a href="{%url 'NewPage'%}">Register Now</a></td>
            </tr>
          </table>


        </div>

<section class="" >
    <h1 class="text-center"style="font-size:60px;font-weight:bold;"> Our Services</h1>
    <div class="card-box">
   <div class="card">
     <div class="card-image">
       <img src="{% static 'bgstar.jpg'%}" alt="">
     </div>
     <div class="profile-image">
       <img src="{% static 'web.jpg'%}" alt="">
     </div>
     <div class="card-content">
       <h3>Web Development</h3>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
     </div>

   </div>
   <div class="card">
     <div class="card-image">
       <img src="{% static 'bgstar.jpg'%}" alt="">
     </div>
     <div class="profile-image">
       <img src="{% static 'gd.jpg'%}" alt="">
     </div>
     <div class="card-content">
       <h3>Graphic Design</h3>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
     </div>

   </div>
   <div class="card">
     <div class="card-image">
       <img src="{% static 'bgstar.jpg'%}" alt="">
     </div>
     <div class="profile-image">
       <img src="{% static 'seo.jpg'%}" alt="">
     </div>
     <div class="card-content">
       <h3>SEO</h3>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
     </div>

   </div>


</div>
</section>
<section class="" >

    <div class="card-box">
   <div class="card">
     <div class="card-image">
       <img src="{% static 'bgstar.jpg'%}" alt="">
     </div>
     <div class="profile-image">
       <img src="{% static 'st.jpg'%}" alt="">
     </div>
     <div class="card-content">
       <h3>Software Training</h3>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
     </div>

   </div>
   <div class="card">
     <div class="card-image">
       <img src="{% static 'bgstar.jpg'%}" alt="">
     </div>
     <div class="profile-image">
       <img src="{% static 'cb.jpg'%}" alt="">
     </div>
     <div class="card-content">
       <h3>Computer Education</h3>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
     </div>

   </div>
   <div class="card">
     <div class="card-image">
       <img src="{% static 'bgstar.jpg'%}" alt="">
     </div>
     <div class="profile-image">
       <img src="{% static 'job.jpg'%}" alt="">
     </div>
     <div class="card-content">
       <h3>Job & Freelancing</h3>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
     </div>

   </div>


</div>
</section>
</div>

<div class="" style="background:#7dffff;">
    <h1 class="text-center" style="font-size:60px;font-weight:bold;">
     our Courses</h1>
<center>
  <table id="courses"align="center" cellspacing="0px" bgcolor="#ebebe0" height="auto">
            <tr><td> <button class="py"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">ComputerBasics</a></button></td>
                <td> <button class="c1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">C,C++</a></button></td>


              </tr>
              <tr><td> <button class="we1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">MS-Office</a></button></td>
                <td> <button class="or1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Python</a></button></td>
             </tr>

                <tr>
                   <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">DTP</a></button></td>
                    <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">WebDesigning</a></button></td>
                </tr>



              <tr><td> <button class="pg1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Typing</a></button></td>
                <td> <button class="dt1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Django</a></button></td>


              </tr>
              <tr><td> <button class="page1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Internet</a></button></td>
                <td> <button class="dc1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">html</a></button></td>


              </tr>
              <tr>
               <td> <button class="ja1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Photoshop</a></button></td>
               <td> <button class="int1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">css</a></button></td>

              <tr>
                 <td> <button class="do1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Pagemaker</a></button></td>
               <td> <button class="c2"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Javascript</a></button></td>
              </tr>
              <tr>
                <td> <button class="ta1" ><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">CoralDraw</a></button></td>
                <td> <button class="ms1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Bootstrap</a></button></td>
              </tr>
              <tr>
                 <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">PGDCA</a></button></td>
                  <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">Jquery</a></button></td>
              </tr>

              <tr>
                 <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">DCA</a></button></td>
                  <td> <button class="phot1"><a href="{%url 'blog-courses'%}" style="text-decoration:none;font-size:20px;">DBMS(MySQL)</a></button></td>
              </tr>


  </table>
  </center>
  </div>
      <div class="container-fluid text-left text-dark headerset">
             <div class="carousel slide" id="demo" data-ride="carousel" style="width:100%;" scrollamount="20%">
                 <ul class="carousel-indicators">
                     <li class="active" data-target="#demo" data-slide-to="0"></li>
                     <li data-target="#demo" data-slide-to="1"></li>
                     <li data-target="#demo" data-slide-to="2"></li>
                     <li data-target="#demo" data-slide-to="3"></li>
                     <li data-target="#demo" data-slide-to="4"></li>
                 </ul>
                 <div class="carousel-inner box text-center">
                     <div class="carousel-item active">
                         <div class="row" style="margin:0px;">
                             <div class="col-lg-4">
                                 <img src="{%static 'a.jpg'%}" alt="image" width="1300px" height="400">
                             </div>
                         </div>
                     </div>
                     <div class="carousel-item">
                         <div class="row" style="margin:0px;">
                             <div class="col-lg-4">
                                 <img src="{%static 'b.jpg'%}" alt="image" width="1300px" height="400">
                             </div>
                         </div>
                     </div>
                     <div class="carousel-item">
                         <div class="row" style="margin:0px;">
                             <div class="col-lg-4">
                                 <img src="{%static 'c.jpg'%}" alt="image" width="1300px" height="400">
                             </div>
                         </div>
                     </div>
                     <div class="carousel-item">
                         <div class="row" style="margin:0px;">
                             <div class="col-lg-4">
                                 <img src="{%static 'd.jpg'%}" alt="image" width="1300px" height="400">
                             </div>
                         </div>
                     </div>
                     <div class="carousel-item">
                         <div class="row" style="margin:0px;">
                             <div class="col-lg-4">
                                 <img src="{%static 'e.jpg'%}" alt="image" width="1300px" height="400 ">
                             </div>
                         </div>
                     </div>
                 </div>
                 <a class="carousel-control-prev" href="#demo" data-slide="prev">
                     <span class="carousel-control-prev-icon"></span>
                 </a>
                 <a class="carousel-control-next" href="#demo" data-slide="next">
                     <span class="carousel-control-next-icon"></span>
                 </a>
             </div>
         </div>




    <section class="location">
    <div style="margin-left:25px;margin-bottom:10px;">
        <h1 class="text-center" style="font-size:40px;font-weight:bold;">
         BRIGHT LOCATION</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3822.224811724691!2d78.48895911434397!3d16.665629927606254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bca5cbae649fa53%3A0x753365f56175ef60!2sBright%20Computers!5e0!3m2!1sen!2sin!4v1577874164634!5m2!1sen!2sin" width="99%" height="300px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</section>
    <div class="container-fluid">
        <div class="row bg-dark links">
            <div class="col-md-4">
                <h1 style="color:white;font-weight:bold;"><u>Web Designing</u></h1>
                <a href="#">C language</a><br>
                <a href="#">Python</a><br>
                <a href="#">Django,SQL</a><br>
                <a href="#">HTML5,CSS3</a><br>
                <a href="#">JAVASCRIPT</a><br>
                <a href="#">BOOTSTRAP,JQUERY</a><br>
            </div>
            <div class="col-md-4">
                <h1 style="color:white;font-weight:bold;"><u>PGDCA</u></h1>
                <a href="#">MS OFFICE</a><br>
                <a href="#">PHOTOSHOP</a><br>
                <a href="#">CORELDRAW</a><br>
                <a href="#">PAGEMAKER</a><br>
                <a href="#">TELUGU AND ENGLISH TYPING</a><br>
            </div>
            <div class="col-md-4">
                <h1 style="color:white;font-weight:bold;"><u>Contact Us</u></h1>
                <h3 class="text-info">Bright Computers</h3>
                <i class="fa fa-map-marker text-light"> Kalwakurthy,<br> Nagarkurnool, Telangana</i><br>
                <i class="fa fa-phone text-light"> Mobile:9640449394,</i><br>
                <i class="fa fa-envelope text-light"></i><a href="#"> brightcomputersinfo@gmail.com</a>
            </div>
        </div>
{% endblock content %}
