{% extends 'blog/base.html' %}
{% load static%}
{% block content %}
<style>
       *{
           margin:0px;
           padding:0px;
       }
       div div div a:link{
           color:white;
           font-size:20px;
       }
       div div div a:hover{
           color:#41f481;
       }
       marquee{
           font-size:26px;
           color:blue;
       }
       marquee:hover{
           color:#ff4f81;
           transition:0.9s all;
       }
       marquee i:hover{
           border-right:3px solid #ff4f81;
           border-left:3px solid #ff4f81;
       }
       table{
         background:#ffe0ff;
         border:ridge;
       }
       .t1{
         font-size:20px;
         font-style:bold;

       }
       img{
   			border:1px solid blue;
   			border-radius:20px


   		}


   </style>
   <div><br>
      <center> <img src="{%static 'brighthome.jpg'%}" alt="image" width="96%" height="400" style="align:center">
   </center>
 </div>

      <marquee class="moving-body" onmouseover="stop();" onmouseout="start();" behavior="scroll" scrollamount="10" >
        <li>Bright computer is providing summer spcial courses for all students </li></marquee>

<section class="container ourservices text-center">
    <h1> Our Services</h1>
    <p>Bright Computers Provide Some Services</p>
    <div class="row rowsetting">
          <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                <div class="imgsetting d-block m-auto bg-warning">
                    <i class="fa fa-shopping-cart fa-3x text-white"></i>
                </div>
                <h2>Web Development</h2>
                <p>Basic computer knowledge is as important to a banker as a paper is to a publisher.
                       This basic computer knowledge section covers many important questions for IBPS PO, SBI and RBI like exams and other similar tests.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                  <div class="imgsetting d-block m-auto bg-warning">
                      <i class="fa fa-desktop fa-3x text-white"></i>
                  </div>
                    <h2>Graphic design</h2>
                    <p>Basic computer knowledge is as important to a banker as a paper is to a publisher.
                        This basic computer knowledge section covers many important questions for IBPS PO, SBI and RBI like exams and other similar tests.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                  <div class="imgsetting d-block m-auto bg-warning">
                      <i class="fa fa-lock fa-3x text-white"></i>
                  </div>
                    <h2>SEO</h2>
                    <p>Basic computer knowledge is as important to a banker as a paper is to a publisher.
                        This basic computer knowledge section covers many important questions for IBPS PO, SBI and RBI like exams and other similar tests.</p>
          </div>
      </div>
  </section>
  <section class="container ourservices text-center">
      <div class="row rowsetting">
            <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                  <div class="imgsetting d-block m-auto bg-warning">
                      <i class="fa fa-shopping-cart fa-3x text-white"></i>
                  </div>
                  <h2>Software Training</h2>
                  <p>Basic computer knowledge is as important to a banker as a paper is to a publisher.
                         This basic computer knowledge section covers many important questions for IBPS PO, SBI and RBI like exams and other similar tests.</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                    <div class="imgsetting d-block m-auto bg-warning">
                        <i class="fa fa-desktop fa-3x text-white"></i>
                    </div>
                      <h2>Job Fsreelance</h2>
                      <p>Basic computer knowledge is as important to a banker as a paper is to a publisher.
                          This basic computer knowledge section covers many important questions for IBPS PO, SBI and RBI like exams and other similar tests.</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto">
                    <div class="imgsetting d-block m-auto bg-warning">
                        <i class="fa fa-lock fa-3x text-white"></i>
                    </div>
                      <h2>Computers Education</h2>
                      <p>Basic computer knowledge is as important to a banker as a paper is to a publisher.
                          This basic computer knowledge section covers many important questions for IBPS PO, SBI and RBI like exams and other similar tests.</p>
            </div>
        </div>
    </section>

      <div class="container-fluid text-left text-dark headerset">
             <div class="carousel slide" id="demo" data-ride="carousel" style="width:100%;" scrollamount="20%">
                 <ul class="carousel-indicators">
                     <li class="active" data-target="#demo" data-slide-to="0"></li>
                     <li data-target="#demo" data-slide-to="1"></li>
                     <li data-target="#demo" data-slide-to="2"></li>
                     <li data-target="#demo" data-slide-to="3"></li>
                     <li data-target="#demo" data-slide-to="4"></li>
                 </ul>
                 <div class="carousel-inner box text-center">
                     <div class="carousel-item active">
                         <div class="row" style="margin:0px;">
                             <div class="col-lg-4">
                                 <img src="{%static 'a.jpg'%}" alt="image" width="1300px" height="400">
                             </div>
                         </div>
                     </div>
                     <div class="carousel-item">
                         <div class="row" style="margin:0px;">
                             <div class="col-lg-4">
                                 <img src="{%static 'b.jpg'%}" alt="image" width="1300px" height="400">
                             </div>
                         </div>
                     </div>
                     <div class="carousel-item">
                         <div class="row" style="margin:0px;">
                             <div class="col-lg-4">
                                 <img src="{%static 'c.jpg'%}" alt="image" width="1300px" height="400">
                             </div>
                         </div>
                     </div>
                     <div class="carousel-item">
                         <div class="row" style="margin:0px;">
                             <div class="col-lg-4">
                                 <img src="{%static 'd.jpg'%}" alt="image" width="1300px" height="400">
                             </div>
                         </div>
                     </div>
                     <div class="carousel-item">
                         <div class="row" style="margin:0px;">
                             <div class="col-lg-4">
                                 <img src="{%static 'e.jpg'%}" alt="image" width="1300px" height="400 ">
                             </div>
                         </div>
                     </div>
                 </div>
                 <a class="carousel-control-prev" href="#demo" data-slide="prev">
                     <span class="carousel-control-prev-icon"></span>
                 </a>
                 <a class="carousel-control-next" href="#demo" data-slide="next">
                     <span class="carousel-control-next-icon"></span>
                 </a>
             </div>
         </div>

         <div class="text-center batches">
           <h2> Upcoming batches on digital classes</h2>
        <table border="2px" width="100%" align="center"  cellpadding="10px" cellspacing="2px">
             <tr class="t1">
               <th>Batch Date</th>
               <th>Batch Timings</th>
               <<th>Course</th>
               <th>Register</th>
             </tr>
             <tr>
               <td>20-3-2020</td>
               <td>08am to 10am</td>
               <td>PGDCA</td>
               <td><a href="{%url 'NewPage'%}">Register Now</a></td>
             </tr>
             <tr>
               <td>20-5-2020</td>
               <td>08am to 10am</td>
               <td>PYTHON</td>
               <td><a href="{%url 'NewPage'%}">Register Now</a></td>
             </tr>
           </table>


         </div>


    <section class="location">
    <div style="margin-left:25px;margin-bottom:10px;">
        <h1 class="text-center" style="font-size:40px;font-weight:bold;">
         BRIGHT LOCATION</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3822.224811724691!2d78.48895911434397!3d16.665629927606254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bca5cbae649fa53%3A0x753365f56175ef60!2sBright%20Computers!5e0!3m2!1sen!2sin!4v1577874164634!5m2!1sen!2sin" width="99%" height="300px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</section>
    <div class="container-fluid">
        <div class="row bg-dark links">
            <div class="col-md-4">
                <h1 style="color:white;font-weight:bold;"><u>Web Designing</u></h1>
                <a href="#">C language</a><br>
                <a href="#">Python</a><br>
                <a href="#">Django,SQL</a><br>
                <a href="#">HTML5,CSS3</a><br>
                <a href="#">JAVASCRIPT</a><br>
                <a href="#">BOOTSTRAP,JQUERY</a><br>
            </div>
            <div class="col-md-4">
                <h1 style="color:white;font-weight:bold;"><u>PGDCA</u></h1>
                <a href="#">MS OFFICE</a><br>
                <a href="#">PHOTOSHOP</a><br>
                <a href="#">CORELDRAW</a><br>
                <a href="#">PAGEMAKER</a><br>
                <a href="#">TELUGU AND ENGLISH TYPING</a><br>
            </div>
            <div class="col-md-4">
                <h1 style="color:white;font-weight:bold;"><u>Contact Us</u></h1>
                <h3 class="text-info">Bright Computers</h3>
                <i class="fa fa-map-marker text-light"> Kalwakurthy,<br> Nagarkurnool, Telangana</i><br>
                <i class="fa fa-phone text-light"> Mobile:9640449394,</i><br>
                <i class="fa fa-envelope text-light"></i><a href="#"> brightcomputersinfo@gmail.com</a>
            </div>
        </div>
{% endblock content %}
