{% extends 'blog/base.html' %}
{% load static%}
{% block content %}
<style>
		body{
			font-family: tahoma;
			text-align: justify;
		}
		.p{
			margin-bottom: 30px;
		}
		h2{
			margin-bottom: 47px;
			margin-top: 12px;
		}
		.social-link-text{
			margin-top: 50px;
			margin-bottom: 25px;
		}
		.about-link{
            padding-left:0px;
		}
		.about-link li{
			display: inline-block;
		}
		.about-link li a i{
			width: 50px;
			height: 50px;
			border-radius: 50%;
			line-height: 50px;
			text-align: center;
			border: 1px solid #d6c6b2;
			margin-right: 10px;
			font-size: 22px;
			color: #d6c6b2;
			transition: all 0.3s;
		}
		.about-link li a i:hover{
			color: white;
			background:  #00FFFF;
		}
	</style>
	  <center><h2 class="color-3" ><b>this page is under constuction</b></h2></center>

<section class="location">
<div style="margin-left:25px;margin-bottom:10px;">
		<h1 class="text-center" style="font-size:40px;font-weight:bold;">
			 BRIGHT LOCATION</h1>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3822.224811724691!2d78.48895911434397!3d16.665629927606254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bca5cbae649fa53%3A0x753365f56175ef60!2sBright%20Computers!5e0!3m2!1sen!2sin!4v1577874164634!5m2!1sen!2sin" width="99%" height="300px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
</section>
<div class="text-center">
		<h1 style="font-weight:bold;"><u>Contact Us</u></h1>
		<h3 class="text-info"style="font-size:30px;">Bright Computers</h3>
		<i class="fa fa-map-marker"style="font-size:20px;"> (M)Kalwakurthy,<br>(Dt) Nagarkurnool, (St)Telangana,India</i><br>
		<i class="fa fa-phone" style="font-size:20px;"> Mobile:9640449394,8555848521</i><br>
		<i class="fa fa-envelope " style="font-size:25px;"></i><a href="#"> brightcomputersinfo@gmail.com</a>
</div>
{% endblock content %}
