{% extends 'blog/base.html' %}
{%load static%}
{% block content %}
{% load crispy_forms_tags %}
<style>
    *{
      padding:0px;
      margin:0px;
    }


       input{
           border-radius:5px;
           border:1px solid blue;
           height:35px;
           width:250px;
       }




       h1{
           font-weight:bold;
       }
       form a{
           margin-left:0px;
           font-size:20px;
           color:blue;
           font-weight:bold;
       }
       .text-muted{
         font-size:15px;
       }
       .form-group button{
         width:100px;

        }
        form{
          border:2px ridge black ;
          width:500px;
          height:auto;
          box-shadow:1px 1px 10px 2px #333;
          background:#ccccff;

        }
        form:hover{
          border-radius:30px;
        }
@media(min-width:575px) and (max-width:767px){
         input{
             border-radius:5px;
             border:1px solid blue;
             height:35px;
             width:150px;
         }

         form{
           border:2px ridge black ;
           width:300px;
           height:auto;
           box-shadow:1px 1px 10px 2px #333;

       }
       .bright1{
         height:100px;
         width:100px;
       }

     }
@media(min-width:480px) and (max-width:574px){
         input{
             border-radius:5px;
             border:1px solid blue;
             height:35px;
             width:150px;
         }
         .form-group button{
           width:150px;

          }




          form{
            border:2px ridge black ;
            width:300px;
            height:auto;
            box-shadow:1px 1px 10px 2px #333;

       }
       .bright1{
         height:100px;
         width:100px;
       }
     }
       @media(max-width:479px){
         input{
             border-radius:5px;
             border:1px solid blue;
             width:150px;
             height:35px;

         }
         .form-group button{
           width:150px;

          }

          form{
            border:2px ridge black ;
            width:300px;
            height:auto;
            box-shadow:1px 1px 10px 2px #333;
          }
          .bright1{
            height:100px;
            width:100px;
          }
     }
   </style>
<div class="content-section" align="center">
  <br>
      <form method="post">
            <img class="bright1"src="{%static 'bright.jpg'%}" width="100px" height="100px">
                <p>Sign in to Bright Computers</p>
                <h2 align="center">Login</h2>

            {% csrf_token %}
            <label for="name">User Name:</label>
            {{form.username}}<br><br>
            <label for="pwd">Password:</label>
            {{form.password}}
            <div class="form-group"><br>
                <button type="submit" class="btn btn-outline-info">Login</button>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Don't have an account?<a href="{%url 'register'%}">Sign Up</a>
                </small>
            </div>
              {{form.errors}}
      </form>
      <br>
  </div>
{% endblock content %}
